

/* Font style-opensans */
*{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  

/* Share styles */



}

.btn{
    width: 164px;
    height: 44px;
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bolder;  
}



/* Main Styles */

nav button:hover{
    background-color: red;
}




.nav-ber{
    max-width: 1360px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
    font-weight: bolder;
}


/* Hero section style here */

.Hero-div{
    padding-top: 20px;
    text-align: center;
    margin-top: 9px;
    background-image: url(../assets/hero-bg.png);
    height: 360px;
    max-width: 1600px;
    margin: auto;
    
}


.hero-p1{
   background-color: #FFFFFF;
   max-width: 120px;
   margin: auto;
  font-weight: 500px;
   border-radius: 33px;
   font-size: 9px;
   height: 15px;
   text-align: center;
   margin-top: 55px;
   color: #30B868;  
   
}

.hero-h1{
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 35px;
     
}

.hero-span{
    color: #30B868;
}

.hero-p{
    color: #FFFFFF;
    font-size: 11px; 
}

.hero-btn{
   display: flex;
   justify-content: center;
   gap: 9px;
   margin-top: 15px;
}

.Arrow-btn{
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 9px;
    height: 28px;
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;  
}

.Arrow-icone{
    height: 11px;
}

.play-btn{
    background-color: transparent;
    color: #FFFFFF;
    font-size: 9px;
    border: 0.1px solid #FFFFFF;
    height: 28px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 5px;
    font-weight: bolder;
}

div button:hover{
    background-color: red;
}


/* Box Model Start here */

/* .victor{
    margin-top: 40px;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    background-color: #30B868;
    border-radius: 50px;
    
} */




.Box-parent{
    max-width: 1600px;
    margin: auto;
    margin-top: 8px;
    height: 360px;
    text-align: center;
    margin-top: 50px;
   
}

.Box-Child{

    max-width: 1360px;
    margin: auto;
    margin-top: 8px;
    
}


.box-h1{
    font-size: 29px;
    font-weight: bolder;
    margin: auto;
}

.box-p1{
    font-size: 10px;
  margin: auto;
  
  color: #627382;  
}


.box-model{   
    height: 200px;
    width: 330px;
    padding-top: 45px; 
    margin-top: 23px;  
    background-color: #faf8f8 ;
    box-shadow: #faf6f6;   
}

.box-model-row{
    display: flex;
    flex-direction: row;
    gap: 9px;
}


.box-img{
    background-color:  #F95555;
    height: 40px;
    width: 40px;
   align-items: center;
    margin-left: 42%;
    border-radius: 50%;
    margin-bottom: 10px;

}

.img{
    margin-top: 7px;
    height: 23px;
}


.box-h2{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}